
<% if flash %>
  <% flash.each do |_, message| %>
    <p><%= message %></p>
  <% end %>
<% end %>
<p><span>Mechanic: </span><%= @mechanic.name %></p>
<p><span>Years of Experience: </span><%= @mechanic.years_of_experience%></p>

<div class="current_projects">
  <% @mechanic.rides.each do |ride| %>
    <p><%= ride.name %></p>
  <% end %>
</div>

<%= form_tag"/mechanics/#{@mechanic.id}/rides", method: :post do %>
  <%= select_tag :ride, options_from_collection_for_select(Ride.all, :id, :name), prompt: "Select something"%>
  <%= submit_tag "Add Task" %>
<% end %>
